
body {
    background: linear-gradient(#ffdde1, #ee9ca7);
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden;
}

.container {
    margin-top: 150px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

button {
    padding: 15px 30px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.yes {
    background-color: #ff4d6d;
    color: white;
}

.no {
    background-color: #555;
    color: white;
}

.hearts span {
    position: absolute;
    bottom: -20px;
    font-size: 24px;
    animation: floatUp linear infinite;
}

@keyframes floatUp {
    to {
        transform: translateY(-110vh);
        opacity: 0;
    }
}

canvas {
    position: fixed;
    top:0;
    left:0;
}

.love-msg {
    font-size: 22px;
    color: #b0004d;
    margin-top: 20px;
}

.burst-heart {
    position: absolute;
    font-size: 24px;
    animation: burst 1s ease-out forwards;
}

@keyframes burst {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(
            calc(-100px + 200px * random()),
            -150px
        );
        opacity: 0;
    }
}

